// Variables
$colors: (
  "white": rgba(255, 255, 255, 1),
  "black": rgba(0, 0, 0, 1),
  "primary": rgba(0, 63, 180, 1),
  "gray": rgba(111, 111, 111, 1),
  "light-gray": rgba(218, 218, 218, 1),
  "text-gray": rgba(107, 107, 107, 1),
  "border-gray": rgba(183, 183, 183, 1),
  "dark-gray": rgba(50, 50, 50, 1),
);

// Font imports
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin arrow-button {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  background: none;
  padding: 10px 12px;
  border: 1px solid map-get($colors, "light-gray");
  border-radius: 50%;
  color: map-get($colors, "gray");
  box-shadow: 4px 10px 24px 0px rgba(0, 0, 0, 0.1);
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

// Reset
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  color: map-get($colors, "black");
}

// Speakers Section
.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 98px 0 65px;

    @include responsive(mobile) {
      margin-top: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  &__description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }

  &__slider {
    @include flex-center;
  }

  &__list {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
  }

  &__arrow {
    &--left {
      @include arrow-button;
      margin-right: 30px;

      @include responsive(tablet) {
        margin-right: 20px;
      }
    }

    &--right {
      @include arrow-button;
      margin-left: 30px;

      @include responsive(tablet) {
        margin-left: 20px;
      }
    }
  }

  &__program-button {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
    padding: 19.45px 123.5px;
    background-color: map-get($colors, "primary");
    color: map-get($colors, "white");
    border: none;
    border-radius: 10px;
    cursor: pointer;

    @include responsive(mobile) {
      margin-top: 40px;
      font-size: 14px;
      font-weight: 400;
      padding: 12.45px 70.5px;
    }
  }

  @include responsive(mobile) {
    padding: 10px;
  }
}

// Speaker Card
.speaker__card {
  background: map-get($colors, "white");
  box-shadow: 4px 10px 24px 0px rgba(0, 0, 0, 0.1);
  width: 285px;
  border-radius: 10px;
  padding: 36px 21px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &__photo {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__position {
    font-size: 18px;
    font-weight: 600;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: map-get($colors, "text-gray");
  }
}

// Modal
.modal {
  display: none;
  position: relative;
  margin-bottom: 20px;

  &__container {
    @include flex-center;
    border-radius: 10px;
    box-shadow: 4px 10px 24px 0px rgba(0, 0, 0, 0.1);

    @include responsive(desktop) {
      flex-direction: column;
    }
  }

  &__profile {
    display: flex;
    padding: 36px 20px 47px 30px;

    &__photo {
      height: 150px;
      width: 150px;
    }

    &__socialicon {
      display: flex;
      gap: 16px;
      font-size: 24px;
      font-weight: 500;
      color: map-get($colors, "black");
    }
  }

  &__details {
    padding: 16px;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__position {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__company {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: map-get($colors, "text-gray");
  }

  &__line {
    height: 161px;
    border: 1px solid map-get($colors, "border-gray");

    @include responsive(desktop) {
      width: 400px;
      height: auto;
    }

    @include responsive(tablet) {
      width: 300px;
    }
  }

  &__content {
    padding: 56px 30px 81px 20px;
  }

  &__description {
    height: 96px;
    width: 732px;
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;

    @include responsive(desktop) {
      width: 500px;
    }

    @include responsive(tablet) {
      height: auto;
      width: 300px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 9px;
    height: 9px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: map-get($colors, "dark-gray");
  }
}

// Program Details
.program-details {
  position: relative;

  &__click {
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    width: 150px;
    height: 42px;
    left: 320.5px;
    font-family: "Work Sans", sans-serif;

    @include responsive(desktop) {
      top: 0;
      left: 120px;
    }

    @include responsive(tablet) {
      left: 20px;
    }

    @include responsive(mobile) {
      top: 20px;
      left: 20px;
    }
  }

  &__navigation {
    position: absolute;
    top: 33px;
    left: 460px;

    @include responsive(desktop) {
      top: 33px;
      left: 240px;
    }

    @include responsive(tablet) {
      left: 130px;
    }

    @include responsive(mobile) {
      top: 53px;
      left: 120px;
    }
  }
}
